{% extends 'baseAdmin.html.twig' %}

{% block title %}ParticipationMembre index{% endblock %}

{% block body %}
    <h1>Join requests</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateRequest</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation_membre in participation_membres %}
            <tr>
                <td>{{ participation_membre.id }}</td>
                <td>{{ participation_membre.dateRequest ? participation_membre.dateRequest|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ participation_membre.statut }}</td>
                <td>
                    <a href="{{ path('club_accepte', {'id': club.id}) }}" class="btn btn-success btn-sm" style="background-color: #28a745; border-color: #28a745; color: white;">
        <i class="fas fa-check-circle"></i> Accept
    </a>
    <a href="{{ path('app_club_delete', {'id': club.id}) }}" class="btn btn-light btn-sm" style="background-color: #f8d7da; border-color: #f5c6cb; color: #721c24;">
        <i class="fas fa-trash-alt"></i> Delete
    </a>href="{{ path('app_participation_membre_edit', {'id': participation_membre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
