{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1>Sondage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sondage.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ sondage.question }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sondage.createdAt ? sondage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sondage_index') }}">back to list</a>

    <a href="{{ path('app_sondage_edit', {'id': sondage.id}) }}">edit</a>

    {{ include('sondage/_delete_form.html.twig') }}
{% endblock %}
