{% extends 'baseBack.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Mission</h4>

                   {{ form_start(form , {'method': 'POST'}) }}
    <div class="mb-3">{{ form_row(form.nomComp, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="mb-3">{{ form_row(form.descComp, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="mb-3">{{ form_row(form.points, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="mb-3">{{ form_row(form.startDate, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="mb-3">{{ form_row(form.endDate, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="mb-3">{{ form_row(form.saison, {'attr': {'class': 'form-select'}}) }}</div>

    

    <a href="{{ path('app_competition_index') }}" class="btn btn-secondary">Cancel</a>
{{ form_end(form ) }}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
