{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        {{ form_label(form.nomC, 'Club Name', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nomC, {'attr': {'class': 'form-control', 'placeholder': 'Enter club name'}}) }}
        {{ form_errors(form.nomC) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter description'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.image, 'Club Image', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.image) }}
    </div>

   

    <button type="submit" class="btn btn-primary w-100">Submit</button>

{{ form_end(form) }}
