{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <!-- Table pour afficher la liste des catégories -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom de la catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nomCat }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Ajouter une nouvelle catégorie</h2>

    <!-- Formulaire pour ajouter une catégorie -->
    {{ form_start(form) }}
        {{ form_row(form.nomCat) }}
        <button class="btn btn-primary">Ajouter la catégorie</button>
    {{ form_end(form) }}

{% endblock %}
