{% extends 'base.html.twig' %}

{% block title %}MissionProgress index{% endblock %}

{% block body %}
    <h1>MissionProgress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Progress</th>
                <th>IsCompleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission_progress in mission_progresses %}
            <tr>
                <td>{{ mission_progress.id }}</td>
                <td>{{ mission_progress.progress }}</td>
                <td>{{ mission_progress.isCompleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_mission_progress_show', {'id': mission_progress.id}) }}">show</a>
                    <a href="{{ path('app_mission_progress_edit', {'id': mission_progress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_progress_new') }}">Create new</a>
{% endblock %}
